<div class="panel-group" id="accordion">
  <div *ngFor="let recipe of recipes; let i = index">
    <div class="panel panel-default" *ngIf="recipe.listed > 0">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i+1}}">{{recipe.name}}</a>
        </h4>
      </div>
      <div id="collapse{{i+1}}" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="btn-group-vertical col-xs-12" role="group">
               <a (click)="bought(recipe.id,ingredient)" class="btn btn-default" style="white-space: normal; padding: 10px;" *ngFor="let ingredient of recipe.material['ingredients']; let j=index"><s *ngIf="recipe.material['bought'][j]==1">{{ingredient}}</s><p *ngIf="recipe.material['bought'][j]==0">{{ingredient}}</p></a>
            </div>
          </div>
          <button (click)="shopDone(recipe.id)" class="btn btn-primary pull-right">DONE</button>
        </div>
      </div>
    </div>
  </div>
</div> 