<div class="row">

	<div class="row">

		<div class="col-xs-12">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Search... (e.g recipe name, tags)" [(ngModel)]="searchbar" (input)="searchRecipe()">
		      <span class="input-group-btn">
		      	<button class="btn btn-default" type="button" *ngIf="searchbar != ''" (click)="clearSearch()">
		        	<i class="fa fa-times"></i>
		        </button>
		        <button class="btn btn-default" type="button" disabled>
		        	<i class="fa fa-search"></i>
		        </button>
		      </span>
		    </div>
		</div>

		<div class="col-xs-6 margin-top-10">
			<span style="font-size: 0.9em; color: gray;">Category:</span>
			<div class="dropdown">
			  <button class="btn btn-primary dropdown-toggle width-100" type="button" id="dropdownCat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    <span>{{catDisplay}}</span>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownCat">
			  	<li (click)="changeFilter('cat', -1, 'All')"><a>All</a></li>
			  	<li role="separator" class="divider"></li>
	    		<li (click)="changeFilter('cat', cat?.id, cat?.category)" *ngFor="let cat of categories; let index = i"><a>{{cat?.category}}</a></li>
			  </ul>
			</div>
		</div>

		<div class="col-xs-6 margin-top-10">
			<span style="font-size: 0.9em; color: gray;">Sort by:</span>
			<div class="dropdown">
			  <button class="btn btn-primary dropdown-toggle width-100" type="button" id="dropdownCat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    <span>{{sortDisplay}}</span>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownCat">
			  	<li (click)="changeSort('none','None')"><a>None</a></li>
			  	<li role="separator" class="divider"></li>
			  	<li (click)="changeSort('id_recipe-asc','Newest')"><a>Newest</a></li>
			  	<li (click)="changeSort('time-asc','Fastest')"><a>Fastest</a></li>
			  </ul>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="btn-group-vertical col-xs-12" style="margin-top: 50px;" role="group">
			<a class="btn btn-default" routerLink="/recipedetail/{{recipe.id}}" style="white-space: normal; padding: 10px;" *ngFor="let recipe of recipes">{{recipe.name}} <span class="glyphicon glyphicon-bookmark" *ngIf="recipe.bookmark == 1"></span></a>
		</div>
	</div>

</div>