<div class="row">

	<div class="row">
		<div class="col-xs-12">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchbar">
		      <span class="input-group-btn">
		      	<button class="btn btn-default" type="button" *ngIf="searchbar != ''" (click)="clearSearch()">
		        	<i class="fa fa-times"></i>
		        </button>
		        <button class="btn btn-default" type="button">
		        	<i class="fa fa-search"></i>
		        </button>
		      </span>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="btn-group-vertical col-xs-12" style="margin-top: 50px;" role="group">
			<a class="btn btn-default" routerLink="/recipedetail/{{recipe.id}}" style="white-space: normal; padding: 10px;" *ngFor="let recipe of recipes">{{recipe.name}} <span class="glyphicon glyphicon-bookmark" *ngIf="recipe.bookmark == 1"></span></a>
		</div>
	</div>

</div>