<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="/">CookBook</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/recipe">Recipe List</a></li>
        <li routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/shoplist">Shopping List</a></li>
      </ul>
    </div>

  </div>
</nav>